@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: white; /* Color de fondo en modo claro */
  --foreground-light: black; /* Color de texto en modo claro */
  --background-dark: black;  /* Color de fondo en modo oscuro */
  --foreground-dark: white;  /* Color de texto en modo oscuro */
}

body {
  background-color: var(--background-light);
  color: var(--foreground-light);
  font-family: 'DefaultFont', sans-serif;
  overflow-x: hidden;
  transition: background-color 0.3s, color 0.3s; /* Transición suave entre colores */
}

.text-custom {
  font-family: var(--font-default);
  font-weight: 600; /* Semi-bold */
}



html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  
  
}